<div *ngIf="loader" class="loader-container">
    <div class="loader"></div>
  </div>
  
<div class="w-3/4 mx-auto mt-10 border border-gray-300 bg-gray-100 shadow-md p-4">
    <div class="flex justify-between ">
      <div class="content"  *ngIf="doctor$ | async as doctor">
        <div class="image ">
          <img class="rounded-md h-60" src="{{doctor.profilePic}}" alt="">
        </div>
        <div class="mt-5 grid gap-4">
            <p class="font-semibold text-2xl">DR. {{doctor.fullName | uppercase}}</p>
            <p class="bg-green-200">{{doctor.specialization}}</p>
            <p class="text-gray-800"><span class="text-gray-500">Email :</span> {{doctor.email}}</p>
            <p class="text-gray-800"><span class="text-gray-500">Phone :</span> {{doctor.number}}</p>
            <p class="text-gray-800"><span class="text-gray-500">DOB :</span> {{doctor.date}}</p>
            <p class="text-gray-800"><span class="text-gray-500">Experience :</span> {{doctor.experience}}</p>
        </div>
        
      </div>
      <div (click)="editProfile()" class="hover:cursor-pointer">
        <img class="h-7 " src="https://img.icons8.com/?size=512&id=118958&format=png" alt="">
      </div>
    </div>
  </div>

 
