<div class="w-4/5 m-auto h-screen bg-white flex flex-col justify-between">
  <div class="grid md:grid-cols-2 max-w-[1240px] mx-auto mt-60">
    <div
      class="flex flex-col justify-center md:items-start w-4/5 mx-auto px-2 py-8"
    >
      <h1 class="py-3 text-5xl font-bold text-blue-700">Easy Clinic</h1>
      <p class="text-4xl mt-5 font-semibold">
        Our specialist doctors are ready to help you
      </p>
    </div>
    <div>
      <img
        class=""
        src="https://res.cloudinary.com/dxzfgrp4k/image/upload/v1683895086/wgaxnvvzbyfw0z3v4u5r.avif"
        alt="/"
      />
    </div>
  </div>
</div>




  
