<div class="scroll-container flex">
  <button class="arrow-button left" data-cy="scroll-left-button" (click)="scrollLeft()">&larr;</button>
  <div class="wrapper" #wrapperRef>
    <div class="item" *ngFor="let b of doctorDetails" data-cy="doctor-card">
      
      <div class="item" (click)="viewDoc(b._id)">
        <img src="{{ b.profilePic }}" alt="" />
        <p class="mt-5 font-semibold">Dr. {{ b.fullName }}</p>
        <p class="font-light">{{b.specialization}}</p>
      </div>
      
    </div>
  </div>
  <button class="arrow-button right" data-cy="scroll-right-button" (click)="scrollRight()">&rarr;</button>
</div>



